<!DOCTYPE html>
<html lang="en" ng-app="shifter">
<head>
  <meta charset="utf-8">
  <title>Shifter</title>
  <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="shifter.css">
    <script src="libs/angular/angular.min.js"></script>
    <script src='libs/firebase/firebase.js'></script>
    <script src="libs/angularfire/dist/angularfire.min.js"></script>
    <script src="libs/ladda/dist/spin.min.js"></script>
    <script src="libs/ladda/dist/ladda.min.js"></script>
    <script src="libs/angular-ladda/dist/angular-ladda.min.js"></script>
    <link rel="stylesheet" href="libs/ladda/dist/ladda-themeless.min.css">
    <script src="libs/angular-spinner/angular-spinner.min.js"></script>
    <script src="libs/moment/min/moment.min.js"></script>
    <script src="libs/angular-moment/angular-moment.min.js"></script>
    <script src="app.js"></script>
    <script src='controllers/factories/positions.js'></script>
    <script src='controllers/factories/employees.js'></script>
    <script src='controllers/factories/shifts.js'></script>
    <script src="controllers/shifter.js"></script>
</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top" >
      <div class="container" >
          <div class="navbar-header" >
              <a class="navbar-brand"
                 href="" >Shifter
              </a >
          </div >
      </div >
  </nav >

  <div class="container main-content" ng-controller="ShifterCtrl">
      <div class="row" >
          <div class="col-md-12" >
              <form class="form-inline well well-sm" >
                  <span class="glyphicon glyphicon-search" ></span >
                  <div class="form-group" >
                      <input type="text" class="form-control" id="name" ng-model="searchFilter.name" placeholder="Filter by name..."/>
                  </div >
                  <div class="form-group" >
                      <input type="text" class="form-control" id="shift" ng-model="searchFilter.shift" placeholder="Filter by shift..."/>
                  </div >
                  <button ng-click="weekMode()">Week view</button>
                  <button ng-click="dayMode()">Day view</button>
              </form >
          </div >
      </div >

      <div class="row">
          <div class="col-md-12" >
              <table class="table table-bordered" ng-show="shifts">
                  <tr>
                      <th>#</th>
                      <th>Employee</th>
                  <th ng-repeat="weekday in filteredWeek = (weekmatrix[0] | weekdayFilter:currentWeek)"
                      ng-click="dayMode(weekday)">
                      {{weekday}}
                  </th>
                  </tr>

                  <tr ng-repeat="employee in filteredEmployees = (weekmatrix | filter:searchFilter)"
                      ng-style="{
                         'background-color': $index === selectedIndex ? 'lightgray' : ''
                         }"
                      ng-click="selectEmployee($index)">
                          <td>{{ $index }}</td>
                          <td>{{ employee.name }}</td>
                          <td ng-repeat="day in filteredDays = (weekmatrix[0] | weekdayFilter:currentWeek) track by $index"
                              ng-style="{
                                 'background-color': employee.shift.positon.shift_color
                              }">
                              <div ng-if="day === employee.shift.shift_date">
                                  {{employee.shift.shift_name}} : {{employee.shift.shift_time}}
                              </div>
                          </td>
                  </tr>
                  <tr ng-show="filteredEmployees.length == 0 && !isLoading">
                      <td colspan="12">
                          <div class="alert alert-info">
                              <p class="text-center">
                                  No results for filter  '{{ searchFilter.name}} {{searchFilter.shift}}'
                              </p>
                          </div>
                      </td>
                  </tr>
              </table>
          </div>
      </div>
      <div class="spinner" ng-show="isLoading">
        <span us-spinner="{radius: 8, width: 5, length: 3, lines: 9}"></span>
          <p>Loading...</p>
      </div>
  </div >

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->

</body>
</html>
